body {
    font-family: Inter, Helvetica, Arial, sans-serif;
    background: #f7f1e2;
    color: #30241c;
    font-size: 18px;
    max-width: 30em;
	margin: auto;
	padding: 3em 1.25em 0px 1.25em !important;
}

body > h1 {
	font-size: 1.6em;
}

#author {
    font-size: 0.9em;
    font-style: italic;
}

figcaption {
    color: #777;
}

figure {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p, figcaption, #author {
	padding-top: 1.3em;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

p, figcaption {
	line-height: 1.8em;
}

img {
	height: auto !important;
	max-width: 100%;
}

iframe {
	width: auto;
	height: auto;
}